#city {
  font-size: 32px;
  color: #676767;
  font-weight: 400;
  line-height: 28px;
  margin-left: 30px;
}

#search-form{
  margin-left: 30px;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #676767;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter{
    text-transform:capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  border-radius: 10px;
}

.overview {
  margin-bottom: 5px;
}
.weather-temperature{
position: relative;
top: -20px;
margin-left: 20px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.weather {
  border: 1px solid #dadde1;
  padding: 20px;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 64px;
}

.temperatures {
  position: relative;
  top: 16px;
}

.temperatures small {
  font-size: 16px;
  position: relative;
  top: -32px;
}

.detail{
    position: relative;
    top: 20px;
}